/* =========================
   CONFIGURAÇÕES GERAIS
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

    --bg: #090511;
    --card: rgba(255,255,255,0.08);
    --border: rgba(255,255,255,0.15);

    --purple: #c084fc;
    --pink: #f9a8d4;

    --text: #ffffff;
    --soft: #d8d8d8;

}



body {

    min-height: 100vh;

    background:
    radial-gradient(circle at top, #35105f, transparent 35%),
    var(--bg);

    color: var(--text);

    font-family: "Inter", sans-serif;

    overflow-x: hidden;

}



/* =========================
   FUNDO ANIMADO
========================= */


.background span {

    position: fixed;

    width: 120px;
    height: 120px;

    background:
    linear-gradient(
        135deg,
        rgba(192,132,252,.4),
        rgba(249,168,212,.2)
    );


    filter: blur(35px);

    border-radius: 50%;

    animation: float 12s infinite alternate;

    z-index: -1;

}



.background span:nth-child(1){

    top:10%;
    left:10%;

}


.background span:nth-child(2){

    top:60%;
    right:10%;

    animation-delay:2s;

}



.background span:nth-child(3){

    bottom:10%;
    left:30%;

    animation-delay:4s;

}


.background span:nth-child(4){

    top:40%;
    left:50%;

    animation-delay:6s;

}



.background span:nth-child(5){

    bottom:20%;
    right:40%;

    animation-delay:8s;

}



@keyframes float {

    from{

        transform:
        translateY(0)
        scale(1);

    }


    to{

        transform:
        translateY(-50px)
        scale(1.2);

    }

}






/* =========================
   CONTAINER PRINCIPAL
========================= */


.app {

    width:100%;

    max-width:480px;

    margin:auto;

    padding:

    25px

    20px

    110px;

}







/* =========================
   HEADER
========================= */


.top {

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}


.small-title {

    color:var(--soft);

    font-size:13px;

}


h1 {

    font-size:26px;

    margin-top:5px;

}



.heart {


    width:45px;

    height:45px;

    border:none;

    border-radius:50%;


    background:

    var(--card);


    backdrop-filter:blur(15px);


    font-size:20px;


}







/* =========================
   HERO
========================= */


.hero {


    text-align:center;

    padding:25px;


    background:var(--card);


    border:1px solid var(--border);


    border-radius:30px;


    backdrop-filter:blur(20px);


}




.photo-container {


    width:170px;

    height:170px;

    margin:auto;


    border-radius:50%;


    padding:5px;


    background:

    linear-gradient(
        135deg,
        var(--pink),
        var(--purple)
    );


}




.photo-container img {


    width:100%;

    height:100%;


    object-fit:cover;


    border-radius:50%;


}





.hero h2 {


    margin-top:25px;

    font-size:22px;


}



.description {


    margin-top:12px;

    color:var(--soft);

    line-height:1.6;

    font-size:14px;


}








/* =========================
   CONTADOR
========================= */


.counter-card {


    margin-top:20px;


    padding:20px;


    background:var(--card);


    border:

    1px solid var(--border);


    border-radius:25px;


    backdrop-filter:blur(20px);


}



.counter-card h3 {


    text-align:center;

    font-size:16px;

    margin-bottom:18px;


}




.counter {


    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:10px;

}



.counter div {


    text-align:center;


}



.counter strong {


    display:block;


    font-size:22px;

    color:white;


}



.counter span {


    font-size:11px;

    color:var(--soft);


}








/* =========================
   BOTÕES
========================= */


.buttons {


    display:grid;

    gap:12px;

    margin-top:20px;


}



.buttons a {


    text-decoration:none;

    color:white;


    background:

    linear-gradient(
        135deg,
        #a855f7,
        #ec4899
    );


    padding:17px;

    border-radius:18px;


    text-align:center;


    font-weight:600;


    transition:.3s;


}



.buttons a:hover {


    transform:translateY(-3px);


}








/* =========================
   MENU INFERIOR
========================= */


.bottom-nav {


    position:fixed;


    bottom:15px;

    left:50%;


    transform:translateX(-50%);



    width:

    calc(100% - 30px);



    max-width:450px;


    display:flex;


    justify-content:space-around;


    padding:12px;


    background:

    rgba(255,255,255,.08);


    border:

    1px solid var(--border);


    border-radius:25px;


    backdrop-filter:blur(20px);



}





.bottom-nav a {


    color:#bbb;


    text-decoration:none;


    font-size:20px;


    text-align:center;


}



.bottom-nav span {


    display:block;


    font-size:10px;


    margin-top:3px;


}



.bottom-nav .active {


    color:white;


}






/* =========================
   CELULARES MENORES
========================= */


@media(max-width:360px){


    .counter strong{

        font-size:18px;

    }


    h1{

        font-size:22px;

    }
/* =========================
   HISTÓRIA
========================= */


.historia-page {

    padding-bottom:130px;

}



.letter {


    margin-top:20px;


    padding:30px 22px;


    background:
    rgba(255,255,255,.08);


    border:

    1px solid rgba(255,255,255,.15);


    border-radius:30px;


    backdrop-filter:blur(20px);



}



.sparkle {


    font-size:40px;

    text-align:center;

    margin-bottom:15px;


}



.letter h2 {


    text-align:center;

    margin-bottom:25px;

    font-size:25px;


}



.letter p {


    color:#ddd;


    line-height:1.8;


    font-size:15px;


    margin-bottom:18px;


    text-align:justify;


}






/* TIMELINE */


.timeline {


    margin-top:35px;

    position:relative;


}




.timeline::before {


    content:"";


    position:absolute;


    left:18px;


    top:0;


    width:2px;


    height:100%;


    background:

    linear-gradient(
        #c084fc,
        #f9a8d4
    );


}




.event {


    position:relative;

    padding-left:50px;

    margin-bottom:35px;


}




.date {


    font-size:13px;


    color:#f9a8d4;


    margin-bottom:10px;


}



.event-card {


    background:

    rgba(255,255,255,.08);


    border:

    1px solid rgba(255,255,255,.15);


    padding:20px;


    border-radius:22px;


    backdrop-filter:blur(20px);


}



.event-card h3 {


    margin-bottom:10px;


}



.event-card p {


    color:#ddd;

    line-height:1.6;

    font-size:14px;


}

/* =========================
   MUSICA
========================= */


.musica-page{

    padding-bottom:130px;

}



.playlist-cover{


    margin-top:20px;


    padding:30px 20px;


    text-align:center;


    background:

    linear-gradient(
        145deg,
        rgba(192,132,252,.25),
        rgba(249,168,212,.15)
    );


    border-radius:30px;


    border:

    1px solid rgba(255,255,255,.15);


    backdrop-filter:blur(20px);


}



.music-icon{


    font-size:55px;

    margin-bottom:15px;


}



.playlist-cover h2{


    font-size:22px;

    margin-bottom:10px;


}



.playlist-cover p{


    color:#ddd;

    font-size:14px;


}






.music-card{


    display:flex;


    align-items:center;


    gap:15px;


    margin-top:18px;


    padding:18px;


    background:

    rgba(255,255,255,.08);


    border:

    1px solid rgba(255,255,255,.15);


    border-radius:25px;


    backdrop-filter:blur(20px);


}



.album{


    width:65px;

    height:65px;


    min-width:65px;


    display:flex;


    align-items:center;


    justify-content:center;


    border-radius:18px;


    background:

    linear-gradient(
        135deg,
        #c084fc,
        #f9a8d4
    );


    font-size:28px;


}



.music-info{


    flex:1;


}



.music-info h3{


    font-size:17px;


}



.music-info span{


    color:#f9a8d4;


    font-size:12px;


}



.music-info p{


    margin-top:8px;


    color:#ddd;


    font-size:12px;


    line-height:1.5;


}




.music-card button{


    border:none;


    width:38px;

    height:38px;


    border-radius:50%;


    background:white;


    color:#8b5cf6;


    font-size:16px;


}



.destaque{


    transform:scale(1.02);

}

/* =========================
   CARTAS
========================= */


.cartas-page{

    padding-bottom:130px;

}




.letter-intro{


    margin-top:20px;


    padding:30px 22px;


    text-align:center;


    background:

    rgba(255,255,255,.08);


    border:

    1px solid rgba(255,255,255,.15);


    border-radius:30px;


    backdrop-filter:blur(20px);


}




.envelope{


    font-size:55px;


    margin-bottom:15px;


}



.letter-intro h2{


    font-size:22px;


    margin-bottom:12px;


}



.letter-intro p{


    color:#ddd;


    line-height:1.7;


    font-size:14px;


}







.love-letter{


    margin-top:25px;


    padding:28px 22px;



    background:


    linear-gradient(
        145deg,
        rgba(255,255,255,.12),
        rgba(255,255,255,.05)
    );


    border:

    1px solid rgba(255,255,255,.18);



    border-radius:28px;


    backdrop-filter:blur(20px);



    position:relative;


}



.letter-date{


    color:#f9a8d4;


    font-size:12px;


    margin-bottom:15px;


}




.love-letter h3{


    font-size:21px;


    margin-bottom:20px;


}



.love-letter p{


    color:#ededed;


    font-size:15px;


    line-height:1.9;


    white-space:pre-line;


}

/* =========================
   GALERIA
========================= */


.galeria-page{

    padding-bottom:130px;

}



.gallery-intro{


    margin-top:20px;


    padding:25px;


    text-align:center;


    background:

    rgba(255,255,255,.08);


    border:

    1px solid rgba(255,255,255,.15);


    border-radius:30px;


    backdrop-filter:blur(20px);


}



.gallery-intro div{


    font-size:50px;

    margin-bottom:15px;


}



.gallery-intro h2{


    font-size:22px;

    margin-bottom:12px;


}



.gallery-intro p{


    color:#ddd;

    font-size:14px;

    line-height:1.7;


}







.gallery{


    margin-top:25px;


    display:flex;

    flex-direction:column;

    gap:22px;


}





.photo-card{


    overflow:hidden;


    border-radius:28px;


    background:

    rgba(255,255,255,.08);


    border:

    1px solid rgba(255,255,255,.15);


    backdrop-filter:blur(20px);



}



.photo-card img{


    width:100%;


    height:280px;


    object-fit:cover;


    display:block;


}





.photo-card div{


    padding:18px;


}



.photo-card h3{


    font-size:18px;


    margin-bottom:8px;


}



.photo-card p{


    color:#ddd;


    font-size:13px;


    line-height:1.5;


}




.photo-card img{


    transition:.5s;


}



.photo-card:hover img{


    transform:scale(1.08);


}

}